<?xml version="1.0" encoding="utf-8"?>
<settings>
  <add key="state"><![CDATA[Normal]]></add>
  <!-- 图片压缩宽度 -->
  <add key="img.width">640</add>
  <!-- 图片压缩高度 -->
  <add key="img.height">480</add>
  <!-- 水印图片百分比 -->
  <add key="img.water.percent">0.5</add>
  <add key="override.url.indent"><![CDATA[cirp]]></add>
  <add key="dbconn"><![CDATA[Data Source=$ROOT/db/cir.db]]></add>
</settings>