<?xml version="1.0" encoding="utf-8"?>
<settings>
  <add key="state"><![CDATA[Normal]]></add>
  <add key="override.url.indent"><![CDATA[mapfrewx]]></add>
  <add key="WeixinPay_PartnerId"><![CDATA[]]></add>
  <add key="WeixinPay_Key"><![CDATA[]]></add>
  <add key="WeixinPay_AppId"><![CDATA[]]></add>
  <add key="WeixinPay_AppKey"><![CDATA[]]></add>
  <add key="WeixinPay_TenpayNotify"><![CDATA[]]></add>
  <add key="TenPayV3_MchId"><![CDATA[]]></add>
  <add key="TenPayV3_Key"><![CDATA[]]></add>
  <add key="TenPayV3_AppId"><![CDATA[]]></add>
  <add key="TenPayV3_AppSecret"><![CDATA[]]></add>
  <add key="TenPayV3_TenpayNotify"><![CDATA[]]></add>
  <add key="db_conn"><![CDATA[server=sql.m45.vhostgo.com;uid=wukoodb ;pwd=11223344;database=wukoodb]]></add>
  <add key="Weixin_Token"><![CDATA[wx4mapfre]]></add>
  <add key="Weixin_AppId"><![CDATA[wxk481762e4bf14134]]></add>
  <add key="Weixin_AppSecret"><![CDATA[0fka251ef0b692ddf24b1b43b2d9a49a]]></add>
  <add key="Weixin_AppEncodeString"><![CDATA[]]></add>
  <add key="Weixin_ApiDomain"><![CDATA[http://test.rcaservice.com.cn/com.mapfre.weixin.sh.aspx]]></add>
  <add key="Weixin_MenuButtons"><![CDATA[{"button":[{"type":"view","key":"res:","name":"公司信息","url":"http://www.roadchina.com.cn/wap","sub_button":[]},{"type":"view","key":"res:","name":"活动信息","url":"{auth}/cn/","sub_button":[]},{"type":"click","key":"res:contactus","name":"联系我们","url":"res:contactus","sub_button":[]}]}]]></add>
  <add key="Weixin_Welcome"><![CDATA[]]></add>
  <add key="Weixin_WelcomeMessage"><![CDATA[您好呀，欢迎来到路华救援！    

从2.02到2.16，我们每周将赠送出500张电影票（每个中奖者可赢得两张电影票），全部获奖名单将在每周一公布，但是获奖者当天就会得到电影票！此外我们还提供路华救援春节大礼包！

活动规则：只要简单地回答下面这个问题，并且转发答案页面到你的好友圈，并且截图给我们，就有机会拿免费电影票，当天就给！我们的客服全天候在线！

对你来说，在选择道路援助时最重要的考虑因素是什么？  
 A.  像朕那么会精打细算的人，一定是选择性价比最高的那一个～
 B.  三头六臂，24小时全天候，随叫随到的道路救援才是最靠谱的！ 
 C.  在长途旅程中，谁也不知道发生什么事！网点多才是王道！
]]></add>
  <add key="Weixin_EnterMessage"><![CDATA[]]></add>
  <add key="Weixin_DefaultResponseMessage"><![CDATA[]]></add>
</settings>