<?xml version="1.0" encoding="utf-8" ?>
<item>
  <column mapping="contract:合同;contractNo:合同编号;caseNo:案件编号; cusCaseNo:外方档案号;createTime:发生日期;province:省份;city:城市;cashNo:财务操作号;service:服务;cw:财务操作类型;bx:报销;partnerCode:供应商编码;personName:人员简称;importTime:导入时间;stateName:案件状态;ckbCount:车况表;xcCount:现场照片"/>
  <query>
    <![CDATA[
  SELECT * FROM (
  SELECT cir_case.*,
 ROW_NUMBER()OVER(ORDER BY createTime DESC) AS rn,
   cs.stateName,
  (SELECT COUNT(0) FROM cir_case_images WHERE caseId=cir_case.Id AND imgType=1) as ckbCount,
  (SELECT COUNT(0) FROM cir_case_images WHERE caseId=cir_case.Id AND imgType=2) as xcCount
  FROM cir_case
  INNER JOIN cir_case_state cs ON cs.id=cir_case.state
  WHERE ({state}=-1 OR state={state}) AND cashNo Like N'%{cashNo}%'  AND partnerCode LIKE N'%{partnerCode}%' AND contract LIKE N'%{contract}%'
  AND province LIKE N'%{province}%'
  AND (@startTime='' OR  (createTime Between '{startTime} 00:00:00' AND '{endTime} 23:59:59' ))
   ) t WHERE t.rn BETWEEN @page_start AND @page_end]]>
  </query>
  <import><![CDATA[]]></import>
  <total>
    <![CDATA[SELECT COUNT(0) FROM cir_case 
  INNER JOIN cir_case_state cs ON cs.id=cir_case.state
  WHERE ({state}=-1 OR state={state}) AND cashNo Like N'%{cashNo}%'  AND partnerCode LIKE N'%{partnerCode}%' AND contract LIKE N'%{contract}%'
  AND province LIKE N'%{province}%'
  AND (@startTime='' OR  (createTime Between '{startTime} 00:00:00' AND '{endTime} 23:59:59'))]]>
  </total>
</item>
