<?xml version="1.0" encoding="utf-8" ?>
<item>
  <column mapping="contract:合同;contractNo:合同编号;caseNo:案件编号; cusCaseNo:外方档案号;createTime:发生日期;province:省份;city:城市;cashNo:财务操作号;service:服务;cw:财务操作类型;bx:报销;partnerCode:供应商编码;personName:人员简称;importTime:导入时间;stateName:案件状态;ckbCount:车况表;xcCount:现场照片"/>
  <query>
    <![CDATA[
  SELECT * FROM (
  SELECT wx_art_item.*,
 ROW_NUMBER()OVER(ORDER BY {sort}) AS rn
  FROM wx_art_item WHERE resId=@resId AND title LIKE N'%{title}%'
   ) t WHERE t.rn BETWEEN @page_start AND @page_end ORDER BY t.rn]]>
  </query>
  <import><![CDATA[]]></import>
  <total>
    <![CDATA[SELECT COUNT(0) FROM wx_art_item WHERE 
    resId=@resId AND  title LIKE N'%{title}%']]>
  </total>
</item>
