<?xml version="1.0" encoding="utf-8" ?>
<item>
  <column mapping="cashNo:财务编号;partnerCode:供应商代码;contractNo:合同号;createTime:案件发生时间; caseNo:案件编号; cusCaseNo:客户案件号;importTime:导入时间"/>
  <query>
    <![CDATA[
  SELECT * FROM 
 (SELECT *,ROW_NUMBER()OVER(ORDER BY imgType,createTime) as rn
FROM cir_case_images
  WHERE caseId=@caseId AND ({imgType}=-1 OR imgType=@imgType)
  ) t WHERE rn BETWEEN  @page_start AND @page_end]]>
  </query>
  <import><![CDATA[]]></import>
  <total>
    <![CDATA[SELECT COUNT(0) FROM cir_case_images
  WHERE caseId=@caseId AND ({imgType}=-1 OR imgType=@imgType)]]>
  </total>
</item>
